.container.user-page
  %header.user-nav
    .media
      .media-left
        = image_tag(@user.avatar, size: "64x64", class: "media-object")
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @products.count
            %i Projects
        .proto-user
          %span.degree we-b inc. Designer
        .row
          .col-md-6
            %h4 Profile
            %p
            = @user.profile
          .col-md-6
            %h4 Works
            %p
            = @user.works
.container.proto-list
  .row
    = render partial: "products/product", collection: @products

.text-center
  %ul.pagination
    %li.active
      = paginate @products
