= paginator.render do
  %ul.pagination
    - if !current_page.first?
      %li= first_page_tag
      %li= prev_page_tag
    - each_page do |page|
      -if page == current_page
        %li.active= page_tag page
      - elsif page.left_outer? || page.right_outer? || page.inside_window?
        %li= page_tag page
      - elsif !page.was_truncated?
        %li= gap_tag
    - if !current_page.last?
      %li= next_page_tag
      %li= last_page_tag
