.container.proto-new
  = form_for(@product) do |f|
    -if @product.errors.any?
      %ul
        = @product.errors.full_messages.each do |message|
          %li
            = message
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title, placeholder: "Title" 
      .row
        .col-md-12
          .cover-image-upload
            #js-picture
              = f.fields_for :pictures, @main_img do |img|
                = image_tag(img.object.image, style: "width: 730px; height: 500px;", id: "js-img-tag")
                = img.file_field :image
                = img.hidden_field :status, value: "main"

        .col-md-12
          %ul.proto-sub-list.list-group
            = f.fields_for :pictures, @sub_img do |img|
              %li.list-group-item.col-md-4
                .image-upload
                  #js-picture
                    = image_tag(img.object.image, style: "width: 213px; height: 200px;", id: "js-img-tag")
                    = img.file_field :image
                    = img.hidden_field :status, value: "sub"
                    = img.hidden_field :id, value: img.object.id
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, placeholder: "Concept"
        .cNol-md-12
          %h4 Tag List
          .row
          - Settings.optional_tags.each do |val|
            .col-md-3
              = text_field_tag "product[tag_list][]", "", placeholder: val, maxlength: 6
      .row.text-center.proto-btn
        =f.submit "Publish",class: "btn btn-lg btn-primary btn-block"
