%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Image1:
  = @product.image1
%p
  %b Image2:
  = @product.image2
%p
  %b Image3:
  = @product.image3
%p
  %b Catch copy:
  = @product.catch_copy
%p
  %b Concept:
  = @product.concept

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
